<div class="container-form">
  <h1>Recruiting a new fighter:</h1>
  <% if @fighter.errors.any? %>
      <% @fighter.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    <% end %>
  <%= simple_form_for [ @warband, @fighter ] do |f| %>  
    <%= f.input :name %>
    <%= f.input :role, collection: Fighter::ROLES, include_blank: false, style: "m-1" %>
    <%= f.submit "Add Fighter", class: "btn btn-flat" %>
  <% end %>
  <%= link_to 'Back', warband_path(@warband), class: 'btn btn-flat' %>
</div>